<!DOCTYPE html>
<html>
  <head>
    <title>nice_try :)</title>
    <script type="text/javascript" src="/app.js"></script>
  </head>
  <body>
  	<h1>Hi</h1>
<p> You typed login: <%= @login %></p>
<p> You typed password: <%= @password %></p>
<p> Authorization: <%= @authorization %></p>
<form action="/" method="POST">
  <input type="text" name="aaa"/>
  <input type="password" name="bbb"/>
  <input type="submit" />
</form>
 </body>
 </html>